body {
  margin: 0%;
}

.title_section {
  position: relative;
  width: 100%;
  height: 240px;
}

.title_section>img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.title_section>h1 {
  position: absolute;
  bottom: 0%;
  margin: 16px;
  z-index: 1;
  padding: 4px;
  font-size: 32px;
  font-weight: bold;
  background-color: bisque;
  color: dimgray;
}

.main_section {
  padding: 16px;
  margin-bottom: 64px;
  box-sizing: border-box;
}

.target_action_section {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  position: fixed;
  bottom: 0%;
}
